<!doctype html>
<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
		integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    {% load static %}
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/styles_diana.css' %}">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto&display=swap">
	<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
	<title>Pass it on</title>
</head>

<body>
	<!--Navbar-->
	<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
		<div class="container-fluid">
			<a class="nav-link">Donate</a>
			<!-- Button -->
			<button type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
				class="navbar-toggler"><span class="navbar-toggler-icon"></span></button>
			<div class="collapse navbar-collapse justify-content-end" id="navbarText">
				
				<ul class="navbar-nav ml-auto">
					<li class="nav-item active"><a href="{% url 'index' %}" class="nav-link font-italic"> Home </a></li>
					<li class="nav-item active"><a href="{% url 'AboutPage' %}" class="nav-link font-italic"> About Us</a></li>
					<li class="nav-item active"><a href="{% url 'Map' %}" class="nav-link font-italic"> Map </a></li>
					<li class="nav-item active"><a href="{% url 'Contact' %}" class="nav-link font-italic"> Contact </a></li>
					<li class="nav-item active"><a href="{% url 'DonationPage' %}" class="nav-link font-italic"> Your Donations </a></li>
					<li class="nav-item active"><a href="{% url 'BrowseItem' %}" class="nav-link font-italic"> Browse Items </a></li>
					<li class="nav-item active"><a href="{% url 'CartPage' %}" class="nav-link shopping-cart"><i class="fas fa-shopping-cart"></i></a></li>
				</ul>
			</div>
		</div>
	</nav>
	<!--Main body-->
	<div class="row mt-2">
		<div class="col-12 d-flex justify-content-center">
			<form class="d-flex" method = "POST">
				{% csrf_token %}
				<input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="search">
				<button class="btn btn-outline-success" type="submit">Search</button>
			</form>
		</div>
	</div>

	<div class="row justify-content-center mt-5 pt-5 mb-5">
		{% for itemName, category, condition, description, fileName in items %}
		<div class="card ms-5">
			<a href="#!">
				<img src="{{fileName}}" class="card-img-top" alt="item" data-bs-toggle="modal"
					data-bs-target="#shopModal">
				<!-- <div class="card-body"> -->
			</a>
			<ul class="list-group list-group-flush">
				<li class="list-group-item">Category: {{category}}</li>
				<li class="list-group-item">Condition: {{condition}}</li>
				<li class="list-group-item">Pickup Location: UoM student services</li>
			</ul>
			<!-- </div> -->

			<div class="modal fade" id="shopModal" tabindex="-1">
			<div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<div class="ratio ratio-16x9">

							<!-- <iframe src="ItemTemplate.html" title="%Itemname page" allowfullscreen></iframe> -->
							    <div class="row justify-content-center mt-4">
								<div class="col-4">
									<h1 class="h2 mb-4">{{itemName}}</h1>
									<div id="thumbnailPreview" class="carousel carousel-dark slide" data-bs-ride="carousel">
										<div class="carousel-inner">
											<div class="carousel-item active" data-bs-interval="10000">
												<img src="{{fileName}}" class="d-block w-100" alt="...">
											</div>
											<div class="carousel-item">
												<img src="{% static 'boxes2.jpg' %}" class="d-block w-100" alt="...">
											</div>
										</div>
										<a class="carousel-control-prev" href="#thumbnailPreview" data-bs-slide="prev">
											<span class="carousel-control-prev-icon"></span>
										</a>
										<a class="carousel-control-next" href="#thumbnailPreview" data-bs-slide="next">
											<span class="carousel-control-next-icon"></span>
										</a>
									</div>
									<div>
										<p class="pt-4">Description</p>
										<p class="description mb-5">{{description}}</p>
									</div>
								</div>
								<!-- <img class="img-fluid" alt="item1" src="boxes.jpg"> -->
								<div class="col-4 d-flex align-items-center justify-content-center widthadjust">
									<ul id="iconlist">
										<li><i class="fas fa-bookmark fa-lg iconstyle" id="elementID"></i><span class="fontstyle">{{category}}</span></li>
                						<li><i class="fas fa-wrench fa-lg iconstyle"></i><span class="fontstyle">{{condition}}</span></li>
                						<li><i class="fas fa-map-marker-alt fa-lg iconstyle"></i><span class="fontstyle">UoM student services</span></li>
										<form method="POST">
											{% csrf_token %}
											<input value="{{itemName}}" type="hidden" name="cart"/><button type="submit" class="btn btn-primary mt-5 float-end"><i class="fas fa-cart-plus shoppingstyle"></i>Add to Cart</button>
										</form>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		</div>
		{% endfor %}
	</div>

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
		crossorigin="anonymous"></script>
</body>

</html>
<style>
	.nav-item {
		padding: 7px;
	}

	.btn-primary {
		background-color: #c6c4fd;
		border-color: black;
		border-radius: 20px;
		color: black;
	}

	a.nav-link {
		font-weight: bold;
		color: #2c3e50;
	}


	::placeholder {
		color: white;
	}

	.shopping-cart {
		color: #2c3e50;
		text-decoration: none;

	}

	img {
        border-radius: 10px;
    }


    .description {
        font-size: 12px;
        color: grey;
        line-height: 15px;
    }

	.card {
		width: 280px;
		padding: 0px;
	}

	.form-control {
		width: 15em;
	}

	.iconstyle {
        padding: 25px;
        font-size: 25px;
    }

	#iconlist {
        list-style: none;
    }

	.widthadjust {
        width: auto;
        height: auto;
    }

	.fontstyle {
        font-size: 1.3em;
        padding-left: 15px;
    }

	.shoppingstyle {
        padding-right: 15px;
        color: black;

    }
</style>
