<!doctype html>
<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
		integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    {% load static %}
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/styles_diana.css' %}">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto&display=swap">
	<title>Pass it on</title>
</head>

<body>
	<!--Navbar-->
	<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
		<div class="container-fluid">
			<a class="nav-link" href="{% url 'AddItem' %}">Donate</a>
			<a class="nav-link" href="{% url 'BrowseItem' %}">Get a donation</a>
			<!-- Button -->
			<button type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
				class="navbar-toggler"><span class="navbar-toggler-icon"></span></button>
			<div class="collapse navbar-collapse justify-content-end" id="navbarText">
				<a href="{% url 'login' %}"><button type="button" class="btn btn-primary ms-2" id="loginbutton"><strong>Log
							in</strong></button></a>
				<ul class="navbar-nav ml-auto">
					<li class="nav-item active"><a href="{% url 'index' %}" class="nav-link font-italic"> Home </a></li>
					<li class="nav-item active"><a href="{% url 'AboutPage' %}" class="nav-link font-italic"> About Us</a></li>
					<li class="nav-item active"><a href="{% url 'Map' %}" class="nav-link font-italic"> Map </a></li>
					<li class="nav-item active"><a href="{% url 'Contact' %}" class="nav-link font-italic"> Contact </a></li>
				</ul>
			</div>
		</div>
	</nav>
	<!--Main body-->
	<div class="row mt-2">
		<div class="col-12 d-flex justify-content-center">
			<form class="d-flex" method = "POST">
				{% csrf_token %}
				<input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="search">
				<button class="btn btn-outline-success" type="submit">Search</button>
			</form>
		</div>
	</div>


	<div class="row justify-content-center mt-5 pt-5 mb-5">
		<div class="card ms-5">
			<a href="#!">
				{% load static %}
				<img src="{% static 'boxes.jpg' %}" class="card-img-top" alt="item" data-bs-toggle="modal"
					data-bs-target="#shopModal">
				<!-- <div class="card-body"> -->
			</a>
			<ul class="list-group list-group-flush">
				<li class="list-group-item">Category</li>
				<li class="list-group-item">Condition</li>
				<li class="list-group-item">Pickup Location</li>
			</ul>
			<!-- </div> -->
		</div>
		<div class="card ms-5">
			<a href="#!">
				<img src="{% static 'boxes.jpg' %}" class="card-img-top" alt="item" data-bs-toggle="modal"
					data-bs-target="#shopModal">
				<!-- <div class="card-body"> -->
			</a>
			<ul class="list-group list-group-flush">
				<li class="list-group-item">Category</li>
				<li class="list-group-item">Condition</li>
				<li class="list-group-item">Pickup Location</li>
			</ul>
			<!-- </div> -->
		</div>
		<div class="card ms-5">
			<a href="#!">
				<img src="{% static 'boxes.jpg' %}" class="card-img-top" alt="item" data-bs-toggle="modal"
					data-bs-target="#shopModal">
				<!-- <div class="card-body"> -->
			</a>
			<ul class="list-group list-group-flush">
				<li class="list-group-item">Category</li>
				<li class="list-group-item">Condition</li>
				<li class="list-group-item">Pickup Location</li>
			</ul>
			<!-- </div> -->
		</div>
		<div class="modal fade" id="shopModal" tabindex="-1">
			<div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<div class="ratio ratio-16x9">

							<iframe src="{% static 'ItemTemplate.html' %}" title="%Itemname page" allowfullscreen></iframe>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
		crossorigin="anonymous"></script>
</body>

</html>
<style>
	.nav-item {
		padding: 7px;
	}

	.btn-primary {
		background-color: #8785db;
		border-color: #8785db;
		border-radius: 50px;
	}

	a.nav-link {
		font-weight: bold;
		color: #2c3e50;
	}


	::placeholder {
		color: white;
	}

	.shopping-cart {
		color: #2c3e50;
		text-decoration: none;

	}

	.card {
		width: 280px;
		padding: 0px;
	}

	.form-control {
		width: 15em;
	}
</style>